<h1>New School District</h1>

<%= render 'form', schooldistrict: @schooldistrict %>

<% if (current_user)  %>
<%= link_to 'Back', :back %>
<% else %>
<%= link_to 'Back', new_user_registration_path %>
<% end %>