  <% if user_signed_in? %>
  <div class="footer">
<footer class="pt-5 mt-auto  bg-dark ">
  <div class="row ">
    
    <div class="col-12 col-md-4">
      <ul class="list-unstyled center-text ">
        <li class=" text-white h5 pl-0 pl-md-3">Features</li>
        <li><a class="text-muted pl-0 pl-md-3" href="#">Stuff to developers</a></li>
        <li><a class="text-muted pl-0 pl-md-3" href="#">Store Assessment </a></li>
        <li><a class="text-muted pl-0 pl-md-3" href="#">Team feature</a></li>
        <li><a class="text-muted pl-0 pl-md-3" href="#">Another one</a></li>
        <li><a class="text-muted pl-0 pl-md-3" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-4 border-right border-left">
      <ul class="list-unstyled text-small center-text">
        <li class="text-white h5">Resources</li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Contact</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-4 pl-0">
      <ul class="list-unstyled text-small center-text">
        <li class="text-white h5 pl-2 pl-md-3">About</li>
        <li><a class="text-muted pl-2 pl-md-3" href="#">Locations</a></li>
        <li><a class="text-muted pl-2 pl-md-3" href="#">Privacy</a></li>
        <li><a class="text-muted pl-2 pl-md-3" href="#">Terms</a></li>
        <li><a class="text-muted pl-2 pl-md-3" href="#">Team</a></li>
      </ul>
    </div>
    <div class="col-12 text-center border-top-gray mt-4 mt-md-5">
      <small class="d-block text-white py-3 ">&copy; 2017-2018</small>
    </div>
  </div>
</footer>
<div>
<% end %>